<div class="container">
  <div class="row">
    <div class="content-header-responsive">
      <div class="heading">
          <h1> Github </h1>
        <hr>
      </div>
    </div>
  </div>
  <div class="row bg-white"> <!-- ROW START -->
    <div class="col-sm-12 col-sm-9">
      <div class="simple-contact-responsive bg-white">
        <div class="col-xs-12">
          <form name="sentMessage" id="promoForm" method="post" novalidate>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="language" id="programLanguage" placeholder="Search Projects in...add language" required>
                  <div class="button-container">
                    <button id="submitLanguage" type="button" value="" class="button primary">Search</button>
                  </div>
                </div>
                <p class="help-block text-fail" id="emptyFieldError">Error! Input field is empty, please enter a programming language!</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> <!-- ROW END -->
  <div class="row bg-white"> <!-- ROW START -->
    <div class="col-sm-12">
      <div class="table-responsive">
        <table id="resultsTable" class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Project ID</th>
              <th scope="col">Name</th>
              <th scope="col">URL</th>
              <th scope="col">Owner Login</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div> <!-- ROW END -->
</div>
