í
/* Base styling */

html {
  position: relative;
  min-height: 100%;
}
/*
  the above is need for the footer to stick to
  the bottom of the page works in accordance with
  params added in the 'footer-responsive' component

*/

body {
  height: 100%;
  width: 100%;
  margin-bottom: 100px;
  overflow-x: hidden;
  font-family: Verdana, Arial, sans-serif;
  background: @white-9;
}

h1, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  text-transform: uppercase;
}

header {
  font-size: 2rem;

  .jumbotron {
    height: 40vh;
    margin-bottom: 0;
    background: url("../img/world1.jpg") no-repeat 100% 5%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-weight: 100;

    .dropdown-menu {
      width: 184px;
    }
  }

  .navbar-default {
    border: none;
    border-radius: 0;
    padding: 10px 0;
  }

  .navbar-right {
    margin-right: 15px;
  }

  .navbar-inverse {
    .navbar-brand {
      font-size: 30px;
      margin-left: 15px !important;
      color: @sky-blue;
    }

    .navbar-nav {
      > li {
        > a {
          padding: 15px 15px;
          color: @sky-blue;
        }
      }
    }
  }
}
/* hr */
hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border-color: @black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

#resultsTable_filter {
  display: none;
}

.img-centered {
  margin: 0 auto
}

.navbar-inverse {
  border: 0;
  background-color: @blue;

}

/* Background colours */
.bg-white {
  background: @white !important;
}

.bg-dark-blue {
  background: @blue !important;
}

/* image general style */
.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

.content {

  div {
    .row,
    .table-responsive {
      &:nth-last-child(1) {
        margin-bottom: 60px;
      }
    }
  }

  .simple-footer-responsive {
    div {
      .row {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: @breakpointXs) and (max-width: @breakpointSm) {
  .column {
    width: 100%;
    padding: 20px;
  }

  .simple-footer-responsive {
    div {
      .row {
        margin-top: -30px;
      }
    }
  }
}

@media (min-width: @breakpointSm) and (max-width: @breakpointMd) {
  .column {
    width: 50%;
  }
}

@media (min-width: @breakpointMd) and (max-width: @breakpointXl) {
  .column {
    width: 33%;
  }
}

/* END of base styling */
