
// variables
.header1(@color) {
  font-family: Verdana, Arial, sans-serif;
  color: @color;
  font-size: 2.2em;
  line-height: 1.25;
  font-weight: 500;
}

.header2(@color) {
  font-family: Verdana, Arial, sans-serif;
  color: @color;
  font-size: 1.8em;
  line-height: 1.25;
  font-weight: 500;
}

.text(@color) {
  font-family: Verdana, Arial, sans-serif;
  color: @color;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.6;
}

/*
  Eric Meyer's Reset CSS v2.0 - http://cssreset.com
  Adjust spacing for each browser
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


strong {
  font-weight: bold;
}
// custom
h1 {
  .header1(@black);
}
h2 {
  .header2(@black);
}
p {
  .text(@text);
}

h2, h3, h4, h5, h6 {
  padding-top: 0;
  letter-spacing: 0em;
}
