
/* Default list */
ol,
ul {
  padding-left: 20px;

  li {
    list-style-position: outside;

    // list within lists
    ol,
    ul {
      padding-left: 0;
    }
  }
}

ul {
  /* small tick-list icons */
  &.tick-list {
    margin: 5px 0 0 0;

    li {
      font-size: 18px;
      // list-style: ;
      padding: 0 0 10px;
      position: relative;
      padding-bottom: 10px;
      background-size: 20px, 20px;
      list-style-position: outside;

      ul {
        padding-left: 20px;
        margin: 10px 0 0 0;
      }
    }
  }

  /* bootstrap override */
  .list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
  }
}
