/*
    style includes
*/
/*
  Eric Meyer's Reset CSS v2.0 - http://cssreset.com
  Adjust spacing for each browser
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-weight: bold;
}
h1 {
  font-family: Verdana, Arial, sans-serif;
  color: #000000;
  font-size: 2.2em;
  line-height: 1.25;
  font-weight: 500;
}
h2 {
  font-family: Verdana, Arial, sans-serif;
  color: #000000;
  font-size: 1.8em;
  line-height: 1.25;
  font-weight: 500;
}
p {
  font-family: Verdana, Arial, sans-serif;
  color: #333333;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.6;
}
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0;
  letter-spacing: 0em;
}
í html {
  position: relative;
  min-height: 100%;
}
/*
  the above is need for the footer to stick to
  the bottom of the page works in accordance with
  params added in the 'footer-responsive' component

*/
body {
  height: 100%;
  width: 100%;
  margin-bottom: 100px;
  overflow-x: hidden;
  font-family: Verdana, Arial, sans-serif;
  background: #eeeeee;
}
h1,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h3 {
  text-transform: uppercase;
}
header {
  font-size: 2rem;
}
header .jumbotron {
  height: 40vh;
  margin-bottom: 0;
  background: url("../img/world1.jpg") no-repeat 100% 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header .navbar {
  margin-bottom: 0;
  border-radius: 0;
  font-weight: 100;
}
header .navbar .dropdown-menu {
  width: 184px;
}
header .navbar-default {
  border: none;
  border-radius: 0;
  padding: 10px 0;
}
header .navbar-right {
  margin-right: 15px;
}
header .navbar-inverse .navbar-brand {
  font-size: 30px;
  margin-left: 15px !important;
  color: #87CEFA;
}
header .navbar-inverse .navbar-nav > li > a {
  padding: 15px 15px;
  color: #87CEFA;
}
/* hr */
hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border-color: #000000;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}
#resultsTable_filter {
  display: none;
}
.img-centered {
  margin: 0 auto;
}
.navbar-inverse {
  border: 0;
  background-color: #05286a;
}
/* Background colours */
.bg-white {
  background: #ffffff !important;
}
.bg-dark-blue {
  background: #05286a !important;
}
/* image general style */
.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}
.content div .row:nth-last-child(1),
.content div .table-responsive:nth-last-child(1) {
  margin-bottom: 60px;
}
.content .simple-footer-responsive div .row {
  margin-bottom: 0;
}
@media (min-width: 480px) and (max-width: 650px) {
  .column {
    width: 100%;
    padding: 20px;
  }
  .simple-footer-responsive div .row {
    margin-top: -30px;
  }
}
@media (min-width: 650px) and (max-width: 768px) {
  .column {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .column {
    width: 33%;
  }
}
/* END of base styling */
/* Default list */
ol,
ul {
  padding-left: 20px;
}
ol li,
ul li {
  list-style-position: outside;
}
ol li ol,
ul li ol,
ol li ul,
ul li ul {
  padding-left: 0;
}
ul {
  /* small tick-list icons */
  /* bootstrap override */
}
ul.tick-list {
  margin: 5px 0 0 0;
}
ul.tick-list li {
  font-size: 18px;
  padding: 0 0 10px;
  position: relative;
  padding-bottom: 10px;
  background-size: 20px, 20px;
  list-style-position: outside;
}
ul.tick-list li ul {
  padding-left: 20px;
  margin: 10px 0 0 0;
}
ul .list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
/*

  Content header

*/
.content-header-responsive {
  width: 100%;
  margin: 20px 0 20px;
  text-align: center;
  background: transparent;
}
.content-header-responsive .heading {
  z-index: 100;
  text-align: center;
  text-transform: none;
}
.content-header-responsive .heading hr {
  width: 230px !important;
  border-color: #000000;
}
/*

  Content style

*/
.content-responsive {
  padding: 25px;
  margin-bottom: 30px;
  background: transparent;
}
.content-responsive hr {
  margin: 15px 0 0 0;
}
.content-responsive h1,
.content-responsive h2 {
  padding: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}
.content-responsive h3 {
  margin-top: 20px;
  text-transform: none;
  padding: 0 !important;
  margin-bottom: 20px !important;
}
.content-responsive p {
  clear: left;
}
.content-responsive .subheading {
  z-index: 100;
  font-weight: 400;
  margin-bottom: 10px;
  font-style: italic;
  text-transform: none;
}
.content-responsive .indented-title {
  font-size: 30px;
  line-height: 30px;
  margin: 25px 0 0 5px;
}
.content-responsive .alt-title {
  font-family: Verdana, sans-serif;
}
.content-responsive .alt-title strong {
  font-family: Verdana, sans-serif;
}
.content-responsive img.img-left-aligned,
.content-responsive img.img-right-aligned {
  max-width: 25%;
  height: auto;
}
.content-responsive p:last-child img {
  margin-bottom: 0;
}
.content-responsive.independent {
  padding: 25px 25px 30px;
  background-color: #ffffff;
}
.content-responsive.important-info {
  padding: 24px;
  text-align: center;
  font-weight: bold;
  background-color: #ffffff;
}
.content-responsive.important-info p {
  font-family: Verdana, sans-serif;
}
.content-responsive.important-info > * {
  margin: 0;
  padding-bottom: 30px;
}
.content-responsive.important-info > *:last-child {
  padding-bottom: 0;
}
.content-responsive.right-aligned {
  padding-right: 20%;
}
.bg-wrapper .content-responsive {
  padding: 15px 5px 0 5px;
}
@media all and (max-width: 992px) {
  .content-responsive.right-aligned {
    padding-right: 22px;
  }
}
@media all and (max-width: 768px) {
  .content-responsive.important-info {
    padding: 16px 0;
  }
  .content-responsive.important-info > * {
    margin: 0 16px;
  }
}
@media all and (max-width: 650px) {
  .content-responsive {
    margin-bottom: 25px;
  }
  .content-responsive img.img-right-aligned,
  .content-responsive img.img-left-aligned {
    max-width: 40%;
  }
  .content-responsive .indented-title {
    margin-left: 0;
    line-height: 2;
  }
  .content-responsive.independent {
    padding: 25px 18px 30px;
  }
  .content-responsive.important-info > * {
    margin: 0 16px;
  }
  .bg-wrapper .content-responsive {
    padding-right: 10px;
  }
  .bg-wrapper > div .content-responsive {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .bg-wrapper > div:first-child .content-responsive {
    padding-top: 15px;
    padding-bottom: 0;
  }
}
/*

  Simple footer style

*/
.simple-footer-responsive {
  width: 100%;
  position: absolute;
  padding: 25px 0;
  display: block;
  text-align: center;
}
.simple-footer-responsive .quicklinks li a {
  font-family: Verdana, Arial, sans-serif;
  color: #87CEFA;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.6;
}
.simple-footer-responsive .quicklinks li a:hover,
.simple-footer-responsive .quicklinks li a:focus {
  color: #ffffff;
}
.simple-footer-responsive span.copyright {
  line-height: 40px !important;
  font-family: Verdana, Arial, sans-serif;
  color: #87CEFA;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.6;
  text-transform: none;
}
/*

  Simple contact form style

*/
.simple-contact-responsive p {
  margin-top: 18px;
  margin-bottom: 0;
  font-style: italic;
}
.simple-contact-responsive .button-container {
  margin-top: 10px;
}
.simple-contact-responsive .button-container .button {
  padding: 10px;
}
.simple-contact-responsive .contact-header {
  text-align: center;
}
.simple-contact-responsive .contact-header .heading {
  font-size: 40px;
}
.simple-contact-responsive .contact-header .subheading {
  font-weight: 400;
  font-style: italic;
  text-transform: none;
}
.simple-contact-responsive form {
  margin-bottom: 10px;
}
.simple-contact-responsive form .form-group {
  display: inline-flex !important;
  width: 100%;
}
.simple-contact-responsive form input.form-control {
  height: auto;
  width: 50%;
  margin: 10px 20px 0 0;
}
.simple-contact-responsive .text-success {
  color: #048161;
}
.simple-contact-responsive .text-fail {
  color: #d9534f;
}
div .row:nth-last-child(1) {
  margin-bottom: 0 !important;
}
@media all and (max-width: 480px) {
  .simple-contact-responsive {
    padding: 0;
  }
  .simple-contact-responsive .button-container {
    padding: 0;
  }
  .simple-contact-responsive .form-group {
    margin-bottom: 20px;
  }
  .simple-contact-responsive .form-group input.form-control {
    width: 80%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .simple-contact-responsive .form-group input.form-control {
    width: 80%;
  }
  .simple-contact-responsive .button-container {
    padding: 0 10%;
  }
}
