<!-- FOOTER -->
<div class="simple-footer-responsive bg-dark-blue">
  <div class="container">
    <div class="row center">
      <div class="column">
        <span class="copyright">&copy; Simple Web API | 2018</span>
      </div>
    </div>
  </div>
</div>
