<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script src="/reload/reload.js"></script>

<script type="text/javascript">
  $(document).ready(function() {

    var emptyInputFieldError = $('#emptyFieldError');
    var searchSubmissionSuccessMsg = $('#success');

    emptyInputFieldError.hide();
    searchSubmissionSuccessMsg.hide();
    var dataSet;

    $('#submitLanguage').click(function() {

      var language = $('input#programLanguage').val();

      if (language == '') {
        errorInputFieldIsEmpty();
        return false;
      } else if (language !== '') {
        searchGithub(language)
      }
    });

    function searchGithub(aLanguage) {
      $.ajax({
        method: "post",
        url: "/",
        dataType: "text",
        data: { language: aLanguage },
        success: function(data) {
          if (data == "Failed!") {
            searchFailed();
          } else {
            searchSent();
            data = JSON.parse(data);
            console.log(data);
            $('#resultsTable').DataTable({
              data: data.items,
              columns: [
                {data: "id"},
                {data: "name"},
                {data: "url"},
                {data: "owner.login"}
              ]
            });
          }
        }
      });
    }

    function searchSent() {
      emptyInputFieldError.hide();
    }

    function searchFailed() {
      $('input#programLanguage').focus();
    }

    function errorInputFieldIsEmpty() {
      emptyInputFieldError.show();
      $('input#programLanguage').focus();
    }
  });
</script>
