/*

  Content style

*/

.content-responsive {
  padding: 25px;
  margin-bottom: 30px;
  background: transparent;

  hr {
    margin: 15px 0 0 0;
  }

  h1, h2 {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
  }

  h3 {
    margin-top: 20px;
    text-transform: none;
    padding: 0 !important;
    margin-bottom: 20px !important;
  }

  p {
    clear: left;
  }

  .subheading {
    z-index: 100;
    font-weight: 400;
    margin-bottom: 10px;
    font-style: italic;
    text-transform: none;
  }

  .indented-title {
    font-size: 30px;
    line-height: 30px;
    margin: 25px 0 0 5px;
  }

  .alt-title {
    font-family: Verdana, sans-serif;
    strong {
      font-family: Verdana, sans-serif;
    }
  }

  img.img-left-aligned,
  img.img-right-aligned {
    max-width: 25%;
    height: auto;
  }
  p:last-child {
    img {
      margin-bottom: 0;
    }
  }

  &.independent {
    padding: 25px 25px 30px;
    background-color: @white;
  }

  &.important-info {
    padding: 24px;
    text-align: center;
    font-weight: bold;
    background-color: @white;

    p {
      font-family: Verdana, sans-serif;
    }

    > * {
      margin: 0;
      padding-bottom: 30px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &.right-aligned {
    padding-right: 20%;
  }

}

.bg-wrapper .content-responsive {
  padding: 15px 5px 0 5px;
}

@media all and (max-width: @breakpointLg) {
  .content-responsive {
    &.right-aligned {
      padding-right: 22px;
    }
  }
}

@media all and (max-width: @breakpointMd) {
  .content-responsive {

    &.important-info {
      padding: 16px 0;

      > * {
        margin: 0 16px;
      }
    }
  }
}

@media all and (max-width: @breakpointSm) {
  .content-responsive {
    margin-bottom: 25px;
    img.img-right-aligned,
    img.img-left-aligned {
      max-width: 40%;
    }
    .indented-title {
      margin-left: 0;
      line-height: 2;
    }
    &.independent {
      padding: 25px 18px 30px;
    }
    &.important-info {
      > * {
        margin: 0 16px;
      }
    }
  }

  .bg-wrapper .content-responsive {
    padding-right: 10px;
  }

  .bg-wrapper {
    & > div {
      .content-responsive {
        padding-top: 0;
        padding-bottom: 20px;
      }
      &:first-child {
        .content-responsive {
          padding-top: 15px;
          padding-bottom: 0;
        }
      }
    }
  }
}
