/*

  Content header

*/
.content-header-responsive {
  width: 100%;
  margin: 20px 0 20px;
  text-align: center;
  background: transparent;

  .heading {
    z-index: 100;
    text-align: center;
    text-transform: none;

    hr {
      width: 230px !important;
      border-color: @black;
    }
  }
}
