/*

  Simple contact form style

*/
.simple-contact-responsive {

  p {
    margin-top: 18px;
    margin-bottom: 0;
    font-style: italic;
  }

  .button-container {
    margin-top: 10px;

    .button {
      padding: 10px;
    }

  }

  .contact-header {
    text-align: center;
    .heading {
      font-size: 40px;
    }
    .subheading {
      font-weight: 400;
      font-style: italic;
      text-transform: none;
    }
  }

  form {
    margin-bottom: 10px;

    .form-group {
      display:inline-flex !important;
      width: 100%;
    }
		input {

      &.form-control {
        height: auto;
        width: 50%;
        margin: 10px 20px 0 0;
      }
    }
	}

  .text-success {
    color: @green;
  }

  .text-fail {
    color: @error;
  }
}

div {
  .row {
    &:nth-last-child(1) {
      margin-bottom: 0 !important;
    }
  }
}

@media all and (max-width: @breakpointXs) {
  .simple-contact-responsive {
    padding: 0;

    .button-container {
      padding: 0;
    }

    .form-group {
      margin-bottom: 20px;
  		input {
        &.form-control {
          width: 80%;
        }
      }
  	}
  }
}

@media (min-width: @breakpointXs) and (max-width: @breakpointMd) {
  .simple-contact-responsive {

    .form-group {
  		input {
        &.form-control {
          width: 80%;
        }
      }
  	}

    .button-container {
      padding: 0 10%;
    }
  }
}
