/*

  Simple footer style

*/
.simple-footer-responsive {
  // bottom: 0;
  width: 100%;
  // height: 80px;
  position: absolute;
  padding: 25px 0;
  display: block;
  text-align: center;

  .quicklinks {
    li {
      a {
        .text(@sky-blue);

        &:hover,
        &:focus {
          color: @white;
        }
      }
    }
  }

  span {
    &.copyright {
      line-height: 40px !important;
      .text(@sky-blue);
      text-transform: none;
    }
  }
}
